
body {
	font: 12px/14px sans-serif;
}
div#stats {
    max-width: 840px;
}
#stats #task-info {
	width: 300px;
}
* {
	border-spacing: 0px;
}
.dropDownMenu {
	list-style: none;
	padding: 0px;
}
.dropDownMenu .elem-hidden {
	display: none;
	padding-left: 20px;
}
.dropDownMenu .elem-hidden:hover {
    	background-color: rgb(221, 226, 239);
	color: rgb(0, 0, 51);
}
.chartContainer {
	border-left: 1px solid rgb(201, 201, 201);
	border-right: 1px solid rgb(201, 201, 201);	
	padding: 0px;	
	max-width: 532px;

}
.chart-body div {
    text-align: center;
}

.chartContainerTop {
	border-top: 1px solid rgb(201, 201, 201);
}
.chartContainerBottom {
	border-bottom: 1px solid rgb(201, 201, 201);
}
.barContainer div{
	/*text-align: center;*/
}
.chart-title {
	border-bottom: 1px solid rgb(201, 201, 201);
	width: 100%;

	padding: 12px 0px;

}

.chart-title span {
	margin-left: 14px;
	font-size: 12px;
	font-weight: bold;
}
.chart-arrow-down,.chart-arrow-up {
	width: 20px;
	height:20px;
	float:right;
	margin-right: 14px;
	border-radius: 2px;
	position: relative;

	left: 0px;
	top: -9px;

}
.chart-arrow-down:hover,.chart-arrow-up:hover {
	box-shadow: 0.1px 0.1px 2px #00f;
}
.chart-arrow-down:active,.chart-arrow-up:active {
	box-shadow: 0.1px 0.1px 12px #00f inset;
}


.chart-arrow-down {
	background: url(icons/arrow1_s.png) ;
	background-size: 100%;
	background-repeat: no-repeat	
}
.chart-arrow-up {
	background: url(icons/arrow1_n.png);
	background-size: 100%;
	background-repeat: no-repeat	
}
#stats #line svg{
	margin: auto;
}
#stats #bars {
	padding-left: 40px;
	padding-right: 40px	;
}
#stats #task-info {
	display: none;
}
#line-help {
	padding: 4px;
}
#line-help td{
	vertical-align: middle;
	font-size: 10px;
	padding: 4px;
}
#line-help img {
	width: 15px;
	
}
#stats #more,#stats #info,#stats #line,#stats #heading,#stats #line-help{
	border-bottom: 1px solid rgb(201, 201, 201);	
	margin: auto;
}
#stats #bars,#stats #more ,#stats #task-info {
	margin : 4px;
	border: 1px solid rgb(201, 201, 201);	
}

#stats #heading ,#stats #line-info{
	text-align: center;
}
#stats #line,#stats #info,#stats #heading,#stats #line-info{
	width: 100%;
}
#stats #info table,#stats #task-info table,#variant table{
	border-collapse: collapse;
	margin: 20px;
	width : 100%;
}	
#stats #more, #stats #info td {
	width: 300px;
}
	
#stats #info td{
	text-align: left;
	border-collapse: collapse;
	empty-cells: show;
}
#stats #task-info{
	display: none;
}
#stats #more,#stats #info,#stats #line,#stats #heading{
	border-bottom: 1px solid rgb(201, 201, 201);	
	margin: auto;
}

div#variant{
	overflow-x: scroll;
	max-width: 840px;
}
#variant table, #stats #bars,#stats #task-info{
	margin : 4px;
	border: 1px solid rgb(201, 201, 201);	
}
#variant table, #stats #bars,#stats #more,#stats #task-info{
	margin-left : 4px;
	border: 1px solid rgb(201, 201, 201);	
}
#stats #line,#stats #info,#stats #heading{
	width: 100%;
	text-align: center;
}
#variant th {
	background: none;
	color: black;
	border: 1px solid rgb(201, 201, 201);
}
#variant tr {
	border: 1px solid rgb(201, 201, 201);	
}
#variant td  {
	padding: 0px;
	opacity: 0.9;
	border: 1px solid rgb(201, 201, 201);	
	text-align: center;
	min-width: 1.9em;
/*	box-shadow: 0px 1px 2px inset;*/

}
/*
#variant td:hover  {
    box-shadow: 0.1px 0.1px 2px;
}
#variant td:active  {
    box-shadow: 0.1px 0.1px 2px inset;
}

*/
#variant td img {
	width: 20px;
	border-radius: 2px;
}
#variant td img.trash:hover  {
    box-shadow: 0.1px 0.1px 2px #f00;
}
#variant td img.trash:active  {
    box-shadow: 0.1px 0.1px 2px #f00 inset;
}

#variant td.draw-left-border {
	border-left: 1px solid rgb(201, 201, 201);	
}

